.autocomplete {
  //   min-width: 300px;
  //   max-width: 400px;
  grid-column: 1 / -1;
  padding: 0px;
  height: 200px;
}

.browse_main {
  //   background-color: red;
  //   height: 200px;
  //   padding: 80px;
  //   margin: 80px;
}
