.player_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.player_genre {
  // flex: 2;
  font-size: 1.75em;
}

.player_playlist {
  font-size: 1.25em;
}

.player_album_image {
  // flex: 1;
  aspect-ratio: 1 / 1;
  // min-width: 30%;
  // height: 70%;
  min-width: 25%;
  max-width: 90%;
  // width: 90%;

  // position: relative;
  // width: 20%;
}

.player_track {
  font-size: 1.25em;
}

.player_controls {
  display: flex;
  flex-direction: row;
  justify-content: end;
  min-width: 25%;
  max-width: 90%;
}

.player_genre_playlist_controls {
}

.player_like_follow_controls {
}
