@import "./base";
@import "./components";
@import "./layout";

.container {
  // max-width: 120rem;
  // margin: 2rem auto;
  background-color: var(--color-grey-light-2);
  // box-shadow: var(--shadow-dark);
  // min-height: 50rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

body > #root > div {
  height: 100vh;
  font-size: 100%;
}
